<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--PROD-->
    <!--<add name="DataContext" connectionString="Data Source=USAWS01WVSQL033.global.umusic.ext,8443;Initial Catalog=Mechs;User ID=Mechs;Password=password;" providerName="System.Data.SqlClient" />-->


    <!--Jeff Use this-->
    <add name="DataContext" connectionString="Data Source=USAWS01WVSQL026.global.umusic.ext,8443;Initial Catalog=Mechs;User ID=Mechs;Password=password;" providerName="System.Data.SqlClient" />
    <add name="AuditContext" connectionString="Data Source=USAWS01WVSQL026.global.umusic.ext,8443;Initial Catalog=Mechs;User ID=Mechs;Password=password;" providerName="System.Data.SqlClient" />
    <!--Jeff use above-->

    
  </connectionStrings>

  <appSettings>
    <add key="pollInterval" value="10" />
    <add key="apiServiceUrl" value="http://spa.service" />
    <!--<add key="apiServiceUrl" value="http://umpgmechsdevapi.global.umusic.net" />-->

    <add key="mailSendRetry" value="3" />
    <!--<add key="sendNotificationEmail" value="thovis55@hotmail.com" />-->
    <add key="sendNotificationEmail" value="jeff.ward@umusic.com;jeff.ward@umusic.com" />
    <add key="fromEmail" value="umpg.mechanical.licensing.us@umusic.com" />
    <add key="sendErrorNotificationEmailSubject" value="Data Harmonization Processor Error Messages: Local Environment" />
    <add key="sendCreateSnapshotNotificationEmailSubject" value="Failed Create License Snapshot" />
    <add key="sendDeleteSnapshotNotificationEmailSubject" value="Failed Delete Snapshot" />
    <add key="sendCreateNotificationEmailBody" value="Creation of License Snapshot for License Id: {0} failed on machine {1}.  Please consult the logs.&lt;br /&gt; Please contact UMPG Mechanical Licensing Support for further assistance." />
    <add key="sendDeleteNotificationEmailBody" value="Deletion of License Snapshot for License Id: {0} failed on machine {1}.  Please consult the logs.&lt;br /&gt; Please contact UMPG Mechanical Licensing Support for further assistance." />
    <add key="noOfRetries" value="3" />
    <add key="noOfNotifications" value="10" />
    <add key="timeOut" value="10000" />

    <!--Dev -->
    <add key="DmlCertificateThumbprint" value="798F02106110F51BB53947D6D4814631CE73A109" />
    <add key="UslCertificateThumbprint" value="E763BA7186EE1754D2BAD1E20A0A0446091FE553" />
    <add key="RecsCertificateSubject" value="CN=Router, OU=GLOBAL IT, O=UMPG, L=London, C=UK" />
    <add key="QualifyingWorksUnSecureUrl" value="http://10.144.11.252:9998/works.router/http" />
    <add key="SafeApiUrl" value="https://qa.esb.umpgapps.com:9995/safe.router/http" />
    <add key="RecsUnSecureUrl" value="http://10.144.11.252:9998/works.router" />
    <add key="RecsSecureUrl" value="https://10.144.11.252:9995/works.secured.router" />

    <!--QA-->
    <!--<add key="UslCertificateThumbprint" value="E763BA7186EE1754D2BAD1E20A0A0446091FE553"/>
    <add key="RecsCertificateSubject" value="CN=Router, OU=GLOBAL IT, O=UMPG, L=London, C=UK"/>

    <add key="QualifyingWorksUnSecureUrl" value="http://qa.esb.umpgapps.com:9998/works.router/http"/>
    <add key="SafeApiUrl" value="https://qa.esb.umpgapps.com:9995/safe.router/http"/>
    <add key="RecsUnSecureUrl" value="http://10.144.11.252:9998/works.router"/>
    <add key="RecsSecureUrl" value="https://10.144.11.252:9995/works.secured.router"/>-->
    <!--UAT-->
    <!--<add key="DmlCertificateThumbprint" value="798F02106110F51BB53947D6D4814631CE73A109"/>
    <add key="UslCertificateThumbprint" value="2533f0b161a53351b15b23fcd509a68648848291"/>
    <add key="RecsCertificateSubject" value="CN=Router, OU=GLOBAL IT, O=UMPG, L=London, C=UK"/>

    <add key="QualifyingWorksUnSecureUrl" value="http://uat.esb.umpgapps.com:9188/works.router/http"/>
    <add key="SafeApiUrl" value="https://uat.esb.umpgapps.com:9183/safe.router/http"/>
    <add key="RecsUnSecureUrl" value="http://uat.esb.umpgapps.com:9188/works.router"/>
    <add key="RecsSecureUrl" value="https://uat.esb.umpgapps.com:9183/works.secured.router"/>-->

    <!--Prod-->
    <!--<add key="DmlCertificateThumbprint" value="798F02106110F51BB53947D6D4814631CE73A109"/>
    <add key="UslCertificateThumbprint" value="2533f0b161a53351b15b23fcd509a68648848291"/>
    <add key="RecsCertificateSubject" value="CN=Router, OU=GLOBAL IT, O=UMPG, L=London, C=UK"/>

    <add key="SafeApiUrl" value="https://esb.umpgapps.com:8443/safe.router/http" />
    <add key="QualifyingWorksUnSecureUrl" value="http://esb.umpgapps.com:8080/works.router/http" />
    <add key="RecsSecureUrl" value="https://esb.umpgapps.com:8443/works.secured.router" />
    <add key="RecsUnSecureUrl" value="http://esb.umpgapps.com:8080/works.router" />-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="noreply@umusic.com">
        <network host="smtphost.global.umusic.net" port="25" defaultCredentials="false" />
      </smtp>
      <!--<smtp from="ProductionMusicSupportTeam@umusic.com">
        <network host="email-smtp.us-east-1.amazonaws.com" port="25"
          userName="AKIAI633EVAH2OU44MUA" password="AiWL5QPMNTdRgfwfaz4uSEDOU66IHKVuAkkVrTvu/3TL"
          enableSsl="true" defaultCredentials="false" />
      </smtp>-->
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>